body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #e1dfdb !important;
  max-width: 600px;
  margin: auto;
}

h1 {
  color: #333;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #25D366;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* margem a cima do botao */
}

button:hover {
  background-color: #20b957;
}
